adsputils==v1.2.7
bs4==0.0.1
librabbitmq==1.6.1
lxml==4.6.2
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
Unidecode==0.4.21
# Make sure 2nd level dependencies are python2 compatible:
portalocker==1.7.1
SQLAlchemy-Utils==0.35.0
